 <h1>New Star Literacy Test for <%= "#{@star_test.student.first_name} #{@star_test.student.last_name}" %></h1> 

<%= render 'form', star_test: @star_test %>

<!-- <%= link_to 'Back', star_tests_path(student_id: @star_test.student.id), :class=>"btn btn-md btn-default btn-info" %> -->
