<h2>
Download Students
</h2>

<div>

  <ul>
    <% Student.get_past_school_years(10, Time.now).each do |school_year| %>
    <li>
      <%= school_year %>
      | 
      <%= link_to "[ xls ]", students_path(format: "xls", school_year: school_year)  %>
      | 
      <%= link_to "[ csv ]", students_path(format: "csv", school_year: school_year)  %>
    </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', '/static_pages/dashboard' %>