<h1>Editing Terra Nova Test Benchmark</h1>

<%= render 'form', terra_nova_test_benchmark: @terra_nova_test_benchmark %>

<%= link_to 'Show', @terra_nova_test_benchmark %> |
<%= link_to 'Back', terra_nova_test_benchmarks_path %>
