
<h1>Star Tests Report <%= 'for ' + @student.first_name + ' ' + @student.last_name if @student %></h1>
<div id="star_tests_report">
     <!--Div that will hold the pie chart-->
    <div id="star_tests_chart_div"></div>
</div>
