<div style="height: 900px; width: 1500px">
  <div id="map_canvas" style="height: 100%; width: 100%;"></div>
</div>
<script type="text/javascript">
  function initMap() {
    var OLBPos = new google.maps.LatLng(40.053930, -83.035042);
    var myOptions = {
        zoom: 13,
        center: OLBPos,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

    marker = new google.maps.Marker({
      map: map,
      draggable: false,
      animation: google.maps.Animation.DROP,
      position: OLBPos
    });
    marker.addListener('click', toggleBounce);
  }

  function toggleBounce() {
  if (marker.getAnimation() !== null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK4vktIoMQVL_yYcVCmJMQVjiuWv8EtLE&callback=initMap">
</script>
