div.column{
  padding-left: 70px;
  float: left;
  width: 50%;
}
div.column-left{
  padding-left: 80px;
  float: left;
  width: 50%;
}

.form-group {
    margin-bottom: .1px;
    background-color: #f8f8f8;
}
.panel-primary {
  border-color: #fff;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
