// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.students {
    margin-left: 5px;
    table {
        border-collapse: collapse;
    }

    table th {
        padding: 5px;
    }

    table tr td {
        padding: 5px;
        vertical-align: top;
    }
}

.new_student {

    label {
        float: left;
        width: 10em;
        margin-right: 1em;
        text-align: right;
    }
}

.list_line_even {
    background: #e0f8f8;
}

.list_line_odd {
    background: #f8b0f8;
}
.form-new-student{
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf;
}
.buttons{
  padding-top: 10px;
}
.field{
  padding-bottom: 5px;
}
.create-student-heading{
  color: #777;
  text-align: center;
}
input {
    padding: 8px;
}