// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.new_student {

  label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
  }
}


.form-new-student{
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf;
}
.buttons{
  padding-top: 10px;
}
.field{
  padding-bottom: 5px;
}
.create-student-heading{
  color: #777;
  text-align: center;
}
input {
  padding: 8px;
}
ul.dropdown-menu {
  /* position: absolute; */
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
ul.dropdown-menu.float-right {
  right: 0;
  left: auto;
}
i.glyphicon.glyphicon-cog.font-size-11 {
  font-size: 11px!important;
}
i.glyphicon.glyphicon-chevron-down.font-size-11 {
  font-size: 11px!important;
}
