// Place all the styles related to the TerraNovaTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.terra_nova_tests {
    margin-left: 5px;
    table {
        border-collapse: collapse;
    }

    table th {
        padding: 5px;
    }

    table tr td {
        padding: 5px;
        vertical-align: top;
    }
    .terra_nova_test_date_section {
        padding-left: 20px;
    }
    .terra_nova_test_benchmarks_btn {
        float: right;
        margin-right: 40px;
        margin-bottom: 20px;
    }
}

.new_terra_nova_test {

    label {
        float: left;
        width: 10em;
        margin-right: 1em;
        text-align: right;
    }
}
ul.dropdown-menu {
  /* position: absolute; */
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
ul.dropdown-menu.float-right {
  right: 0;
  left: auto;
}
i.glyphicon.glyphicon-cog.font-size-11 {
  font-size: 11px!important;
}
i.glyphicon.glyphicon-chevron-down.font-size-11 {
  font-size: 11px!important;
}


.form-new-terra-nova-test{
  background-color: #f8f8f8;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-color: #d2d2d2;
  border-width: 5px;
  box-shadow: 0 1px 0 #cfcfcf;
  width: 50%;
  margin: 0 auto;
}
