
<%= content_tag :div, class: "data-students", data: {students: @students} do %>
<% end %>
<%= content_tag :div, class: "data-parishes", data: {parishes: @parishes} do %>
<% end %>
<div id="sidebar" class="col-sm-2">
  <!--Sidebar content-->
</div>
<div id="map-container" class="col-sm-10 no-padding">
  <div id="map-canvas"></div>
</div>
<% content_for :js do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK4vktIoMQVL_yYcVCmJMQVjiuWv8EtLE&callback=initialize">
  </script>
<% end %>
